<svg:g>

<svg:defs>

  <marker id="arrow" viewBox="0 -5 10 10" refX="50" refY="0" markerWidth="10" markerHeight="10" orient="auto">
      <path d="M0,-5L10,0L0,5" class="arrow-head" />
    </marker>

</svg:defs>

<svg:line
        class="link"
        marker-end="url(#arrow)"
        [attr.x1]="link.source.x"
        [attr.y1]="link.source.y"
        [attr.x2]="link.target.x"
        [attr.y2]="link.target.y">
</svg:line>

<svg:text
        class="link-label"
        [attr.transform]="'translate(' + ((link.source.x + link.target.x)/2) + ',' + ((link.source.y + link.target.y)/2) + ')'">
        {{link.type}}
</svg:text>

 <svg:text 
        *ngIf="link.metadata"
        class="link-label"
        [attr.transform]="'translate(' + ((link.source.x + link.target.x)/2) + ',' + ((link.source.y + link.target.y)/2 + 15) + ')'">
            BTC: {{link.metadata.btc}}
</svg:text>

 <svg:text 
        *ngIf="link.metadata && link.metadata.currency=='gbp'"
        class="link-label"
        [attr.transform]="'translate(' + ((link.source.x + link.target.x)/2) + ',' + ((link.source.y + link.target.y)/2 + 30) + ')'">
        GBP: {{link.metadata.gbp | currency:'GBP'}}
</svg:text>

 <svg:text 
        *ngIf="link.metadata && link.metadata.currency=='usd'"
        class="link-label"
        [attr.transform]="'translate(' + ((link.source.x + link.target.x)/2) + ',' + ((link.source.y + link.target.y)/2 + 30) + ')'">
            USD: {{link.metadata.usd | currency:'USD'}}
</svg:text>

<svg:text 
        *ngIf="link.metadata && link.metadata.currency=='eur'"
        class="link-label"
        [attr.transform]="'translate(' + ((link.source.x + link.target.x)/2) + ',' + ((link.source.y + link.target.y)/2 + 30) + ')'">
            EUR: {{link.metadata.eur | currency:'EUR'}}
</svg:text>

<svg:text 
        *ngIf="link.metadata"
        class="link-label"
        [attr.transform]="'translate(' + ((link.source.x + link.target.x)/2) + ',' + ((link.source.y + link.target.y)/2 + 45) + ')'">
            Mined: {{link.metadata.timestamp * 1000 | date : 'medium'}}
</svg:text>

</svg:g>