.link {
    stroke-width: 2;
    stroke: rgb(165, 171, 182);
    opacity: 0.5;
}

.link-path {
	stroke-width: 4;
	stroke: rgb(220,20,60);
	opacity: 0.5;
}

.link-label {
  font-family: 'Lato';
  text-anchor: middle;
  alignment-baseline: central;
  fill: black;
  font-size: 10px;
}

.arrow-head {
	fill: rgb(165, 171, 182);
}

