.mat-divider {
	margin: 10px;
	background-color: white;
}

::ng-deep .node-snackbar {
	padding: 20px;
	max-width: 75vw;
}

::ng-deep .node-snackbar {
	padding: 20px;
	max-width: 75vw;
}


::ng-deep .photo-id {
	margin: 10px;
}

::ng-deep button.dismiss-node-info {
	color:white;
	position: absolute;
	right: 0;
	top: 0;
}