<mat-card>
  <div class="example-container">
    <mat-card-title>
      Add a new node
    </mat-card-title>
    <mat-form-field>
      <mat-label>Custom Node Type</mat-label>
      <mat-select [(value)]="selected">
        <mat-option *ngFor="let nodeType of nodeTypes" [value]="nodeType">
          {{nodeType.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
   

    <form *ngIf="selected && selected.value == 'photo-id'" #f="ngForm" (ngSubmit)="addCustomNode(selected, f)" layout-align="center center">
      <mat-card-content>
        <mat-form-field>
          <input required [(ngModel)]="name" name="name" class="full-width" matInput #message maxlength="35" placeholder="Name of node">
        </mat-form-field>

        <div class="row upload-file-row">
          <div *ngIf="!uploadSuccess" class="custom-file col-md-10">
            <input type="file" class="custom-file-input" id="customFile" name="photo" ng2FileSelect [uploader]="uploader" (change)="fileEvent($event)">
            <label class="custom-file-label" for="customFile">
              <span *ngIf="!selectedFileName">Choose file</span>
              <span *ngIf="selectedFileName">{{selectedFileName}}</span>
            </label>
          </div>
          <div class="col-md-2">
            <button *ngIf="!uploadSuccess" type="button" class="btn btn-success btn-s" (click)="saveImage()" [disabled]="!uploader.getNotUploadedItems().length">
              Upload
            </button>
          </div>
        </div>

        <div *ngIf="uploadSuccess" class="alert alert-success" role="alert">
          Upload of {{selected.viewValue}} {{selectedFileName}} was successful.
        </div>

        <mat-progress-bar class="space-above" *ngIf="uploading" color="primary" mode="indeterminate">
        </mat-progress-bar>

        <table class="custom-props">
          <tr *ngFor="let item of counter(customFieldCount); let i = index">
            <td>
              <mat-form-field class="field-full-width">
                <input (ngModel) = "prop-name-[i]" id="prop-name-{{i}}" name="prop-name-{{i}}" matInput placeholder="Property name">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="field-full-width">
                <input (ngModel) = "prop-val-[i]" name="prop-val-{{i}}" id="prop-val-{{i}}" matInput placeholder="Property value">
              </mat-form-field>
            </td>
          </tr>
        </table>

        <button mat-stroked-button type="button" color="primary" mat-button role="button" (click)="customFieldCount = customFieldCount + 1">Add a property</button>

      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="!uploadSuccess" type="submit" mat-raised-button color="accent">Add node {{selected.viewValue}}</button>
      </mat-card-actions>
    </form>
  </div>
</mat-card>
