::ng-deep .full-width {
  width: 100%;
  margin-bottom: 16px;
}

::ng-deep .field-full-width {
  width: 100%;
}

::ng-deep mat-form-field {
	width: 100%
}

.upload-file-row {
	margin-left: 0;
	margin-right: 0;
}

::ng-deep mat-progress-bar.space-above {
	margin-top: 10px;
}

::ng-deep .custom-props {
	margin-top: 20px;
	width: 100%;
	margin-bottom: 20px;
}
