<div class="search-forms">
  <mat-card class="address-search-form-wrap">
    <mat-card-title>
      Search by Address
    </mat-card-title>
    <form #f="ngForm" (ngSubmit)="onAddressSearch(f)" layout-align="center center">
      <mat-card-content>
        <mat-form-field>
          <input required [(ngModel)]="address" name="address" class="full-width" matInput #message maxlength="35" placeholder="Address">
          <mat-hint align="start"><strong>Search for a particular Bitcoin Address</strong> </mat-hint>
        </mat-form-field>

        <mat-accordion>
          <h4>Additional search options</h4>

          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Select a fiat currency.
                <span class="badge badge-success filter-status">{{btcConversionCurrency | uppercase}}</span>
              </mat-panel-title>
              <mat-panel-description>
                The value of transaction outputs will be shown in this currency.
              </mat-panel-description>

            </mat-expansion-panel-header>
            <mat-radio-group name="btcConversionCurrency" [(ngModel)]="btcConversionCurrency" class="radio-buttons">
              <mat-radio-button class="radio-button" value="gbp">GBP</mat-radio-button>
              <mat-radio-button class="radio-button" value="usd">USD</mat-radio-button>
              <mat-radio-button class="radio-button" value="eur">EUR</mat-radio-button>
            </mat-radio-group>
          </mat-expansion-panel>
          
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter by date/time
                <span *ngIf="dateFilterEnabled" class="badge badge-success filter-status">Enabled</span>
                <span *ngIf="!dateFilterEnabled" class="badge badge-secondary filter-status">Disabled</span>
              </mat-panel-title>
              <mat-panel-description>
                Only show transactions that occured within a time range.
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-slide-toggle name="dateFilterEnabled" [(ngModel)]="dateFilterEnabled">
                <span *ngIf="dateFilterEnabled">Enabled</span>
                <span *ngIf="!dateFilterEnabled">Disabled</span>
            </mat-slide-toggle>

            <table class="filterDateTime">
              <tr>
                <td class="dateColumn">
                  <mat-form-field class="example-full-width">
                    <input [disabled]="!dateFilterEnabled" matInput 
                    [min]="minDate" [max]="maxDate" 
                    [matDatepicker]="pickerFrom" 
                    placeholder="Start Date" 
                    name="filterStartDate"
                    [(ngModel)]="filterStartDate">

                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                  </mat-form-field>
                </td>
                <td class="timeColumn">
                  Start Time: {{formatLabel(startTime)}}

                  <mat-slider class="time-slider" name="startTime" [disabled]="!dateFilterEnabled" min="0" max="24" step="0.5" [(ngModel)]="startTime"></mat-slider>
                </td>
              </tr>
              <tr>
                <td class="dateColumn">
                  <mat-form-field class="example-full-width">
                    <input [disabled]="!dateFilterEnabled" matInput 
                    [min]="filterStartDate" [max]="maxDate" 
                    [matDatepicker]="pickerTo" 
                    placeholder="End Date" 
                    name="filterEndDate"
                    [(ngModel)]="filterEndDate">
                    
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                  </mat-form-field>
                </td>
                <td class="timeColumn">
                  End Time: {{formatLabel(endTime)}}

                  <mat-slider class="time-slider" name="endTime" [disabled]="!dateFilterEnabled" min="0" max="24" step="0.5" [(ngModel)]="endTime"></mat-slider>
                </td>
              </tr>
            </table>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span>Filter by price</span>
                  <span *ngIf="priceFilterEnabled" class="badge badge-success filter-status">Enabled</span>
                  <span *ngIf="!priceFilterEnabled" class="badge badge-secondary filter-status">Disabled</span>
                </mat-panel-title>
                <mat-panel-description>
                  Only display input/output relationships with price values of a specified range
                </mat-panel-description>

              </mat-expansion-panel-header>

              <mat-slide-toggle name="priceFilterEnabled" [(ngModel)]="priceFilterEnabled">
              <span *ngIf="priceFilterEnabled">Enabled</span>
              <span *ngIf="!priceFilterEnabled">Disabled</span>
              </mat-slide-toggle>

              <table>
                <td>
                  <mat-form-field>
                  <span matPrefix *ngIf="priceFilterCurrencySelected == 'btc'">&#8383; &nbsp;</span>
                  <span matPrefix *ngIf="priceFilterCurrencySelected == 'gbp'">&pound; &nbsp;</span>
                  <span matPrefix *ngIf="priceFilterCurrencySelected == 'usd'">&#x24; &nbsp;</span>
                  <span matPrefix *ngIf="priceFilterCurrencySelected == 'eur'">&euro; &nbsp;</span>
                  <input [ngModel]="priceFilterFrom" [required]="priceFilterEnabled" name="priceFilterFrom" [disabled]="!priceFilterEnabled" type="number" matInput placeholder="Value From">
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field>
                  <span matPrefix *ngIf="priceFilterCurrencySelected == 'btc'">&#8383; &nbsp;</span>
                  <span matPrefix *ngIf="priceFilterCurrencySelected == 'gbp'">&pound; &nbsp;</span>
                  <span matPrefix *ngIf="priceFilterCurrencySelected == 'usd'">&#x24; &nbsp;</span>
                  <span matPrefix *ngIf="priceFilterCurrencySelected == 'eur'">&euro; &nbsp;</span>
                  <input [ngModel]="priceFilterTo" [required]="priceFilterEnabled" name= "priceFilterTo" [disabled]="!priceFilterEnabled" type="number" matInput placeholder="Value To">
                  </mat-form-field>
                </td>

                <td>
                  <mat-form-field>
                    <mat-label>Currency</mat-label>
                    <mat-select [(value)]="priceFilterCurrencySelected" [disabled]="!priceFilterEnabled">
                      <mat-option value="btc">BTC</mat-option>
                      <mat-option value="gbp">GBP</mat-option>
                      <mat-option value="usd">USD</mat-option>
                      <mat-option value="eur">EUR</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </table>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>Limit neighbour rendering</span> 
                <span *ngIf="neighbourTruncationEnabled" class="badge badge-success filter-status">Enabled</span>
                <span *ngIf="!neighbourTruncationEnabled" class="badge badge-warning filter-status">Disabled</span>
              </mat-panel-title>

              <mat-panel-description>
                Limit the number of neighbours rendered per node, per relationship type
              </mat-panel-description>
            </mat-expansion-panel-header>

              <mat-slide-toggle name="neighbourTruncationEnabled" [(ngModel)]="neighbourTruncationEnabled">
                <span *ngIf="neighbourTruncationEnabled">Enabled</span>
                <span *ngIf="!neighbourTruncationEnabled">Disabled</span>
                <h5><span class="badge badge-warning" *ngIf="!neighbourTruncationEnabled">UI Performance may seriously deterioate for nodes with many neighbours</span></h5>
                <h5><span *ngIf="neighbourTruncationEnabled" class="badge badge-secondary">Limit: {{truncateNeighboursCount}}</span></h5>
              </mat-slide-toggle>

              <mat-slider [disabled]="!neighbourTruncationEnabled" name="truncate-neighbour-slider" class="neighbour-truncate-slider" thumbLabel [thumbLabel]="thumbLabel" [(ngModel)]="truncateNeighboursCount" tickInterval="1" min="0" max="100"></mat-slider>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Input Clustering
                <span *ngIf="inputHeuristicEnabled" class="badge badge-success filter-status">Enabled</span>
                <span *ngIf="!inputHeuristicEnabled" class="badge badge-secondary filter-status">Disabled</span>
              </mat-panel-title>
              <mat-panel-description>
                Distinct addresses that unlock outputs for the same transaction will be considered to be controlled by the same user.
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-slide-toggle class="heuristic-toggle" name="inputHeuristicEnabled" [(ngModel)]="inputHeuristicEnabled">
              <span *ngIf="inputHeuristicEnabled">Enabled</span>
              <span *ngIf="!inputHeuristicEnabled">Disabled</span>
            </mat-slide-toggle>

          </mat-expansion-panel>
        </mat-accordion>

        


      </mat-card-content>
      <mat-card-actions>
        <button type="submit" [disabled]="waitingOnResponse" mat-raised-button color="primary">Search</button>
      </mat-card-actions>
      <mat-error *ngIf="invalidAddress">{{errorMessage}}</mat-error>
      <section class="loading-section">
        <mat-progress-bar *ngIf="waitingOnResponse" color="primary" mode="indeterminate">
        </mat-progress-bar>
      </section>
    </form>
  </mat-card>
</div>
