.address-search-form-wrap {
	margin: auto;
	margin-top: 15%;
	margin: 20px;
}
.search-forms {
	display: flex;
  flex-direction: column;
}
.search-forms mat-form-field {
	width: 100%;
}

.search-forms mat-card-actions {
	text-align: center;
}

.loading-section, .heuristic-toggle-section, .btc-conversion-currency-section {
	display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
}

.btc-conversion-currency-section .radio-buttons {
	margin-left: 20px;
}

.btc-conversion-currency-section .radio-button {
	margin: 10px;
}

.neighbour-truncate-section {
	display: block;
	align-content: center;
  align-items: center;
  height: 60px;
}

.neighbour-truncate-slider {
	width: 100%;
	display: block;
}