.address-search-form-wrap {
	margin: auto;
	margin-top: 15%;
	margin: 20px;
}
.search-forms {
	display: flex;
  flex-direction: column;
}
.search-forms mat-form-field {
	width: 100%;
}

.search-forms mat-card-actions {
	text-align: center;
}

mat-accordion h5.title {
	margin-bottom: 20px;
	margin-top: 20px;
	color: grey;
}

.radio-buttons {
	margin-left: 20px;
}

.radio-button {
	margin: 10px;
}

.neighbour-truncate-section {
	display: block;
	align-content: center;
  align-items: center;
  height: 60px;
}

.neighbour-truncate-slider {
	width: 100%;
	display: block;
}

.time-slider {
	width: 100%;
	display: block;
}


.filter-status{ 
margin-left: 5px; 
}

.filterDateTime {
	width: 100%;
}

.filterDateTime .dateColumn {
	width: 30%;
}

.filterDateTime .timeColumn {
	width: 70%;
}

table.main-search-table {
	width: 100%;
}

table .search-type-selection {
	width: 30%;
}