<h3>
  {{data.nodeType}}
  <mat-chip color='accent' selected ngxClipboard [cbContent]="data.name">{{data.name}}</mat-chip>
</h3>
<mat-chip-list></mat-chip-list>
<mat-divider *ngIf="(data.userProps | json) != '{}'"></mat-divider>
<mat-chip-list *ngFor="let prop of data.userProps | keyvalue">
  <mat-chip color="primary" selected>{{prop.key}} : {{prop.value}}</mat-chip>
</mat-chip-list>
<mat-divider></mat-divider>
<div *ngIf="data.photoIdModel" class="photo-id">
  <img [src]="photoIdSrc" class="rounded mx-auto d-block" width="100vw">
</div>
<mat-divider *ngIf="data.photoIdModel"></mat-divider>
<div class="row">
  <div class="col-sm-6">
    <button mat-raised-button color="accent" (click)="createCustomLink()">Create a link</button>
  </div>
  <div class="col-sm-6">
    <button type="button" (click)="removeNode()" class="btn btn-md btn-danger remove-node-btn">Remove node</button>
  </div>
</div>
<button type="button" class="btn btn-md primary dismiss-node-info" (click)="dismiss()">
  <fa-icon [icon]="faTimesCircle"></fa-icon>
</button>
